<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Værdata - stadspesifik skredvarsling{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <!-- Navbar or header content goes here -->
    </header>

    <main role="main" class="container">
        {% block content %}
        <!-- Main content will be inserted here by child templates -->
        {% endblock %}
    </main>

    <footer class="footer">
        <!-- Footer content goes here -->
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>