<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Data -->
        <h2>Andre data</h2>
                <!-- Loop through your data and display it here -->
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Lokasjon</th>
                            <th>Tid</th>
                            <th>Temperatur</th>
                            <th>Vind</th>
                            <th>SND cm</th>
                            <th>cm/12h</th>
                            <th>cm/24h</th>
                            <th>MTP@cm</th>
                            <th>ATP@cm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ snowsense_data.0 }}</td>
                            <td>{{ snowsense_data.1 }}</td>
                            <td>{{ snowsense_data.2 }}</td>
                            <td>{{ snowsense_data.3 }}</td>
                            <td>{{ snowsense_data.4 }}</td>
                            <td>{{ snowsense_data.5 }}</td>
                            <td>{{ snowsense_data.6 }}</td>
                            <td>{{ snowsense_data.7 }}</td>
                            <td>{{ snowsense_data.8 }}</td>
                        </tr>
                    </tbody>
                </table>

        <!-- First Graph -->
        <h2>Værplott 1</h2>
        <div id="graph1">                
            <script>
                var graph1 = document.getElementById('graph1');
                var data1 = JSON.parse('{{ graph1|escapejs }}');
                Plotly.newPlot(graph1, data1);
            </script>
        </div>

        <!-- Second Graph -->
        <h2>Værplott 2</h2>
        <div id="graph2">
            <script>
                var graph2 = document.getElementById('graph2');
                var data2 = JSON.parse('{{ graph2|escapejs }}');
                Plotly.newPlot(graph2, data2);
            </script>
        </div>
    </div>
</body>
</html>